# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List some Data Science Tools.
- Practice some examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. SciPy
2. GGPlot
3. Plotly

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|Apache Spark      |
|IBM Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60.
y = 200/60
print(round(y,2), "hours")

3.33 hours

## Author
Nitheesh S Pillai